<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{header :: copy}"></div>

<form th:action="@{/add-coin}" method="post" th:object="${newCoin}">
    <select name="series" id="" th:field="*{seriesId}">
        <option th:each="series : ${allSeries}" th:value="${series.id}" th:text="${series.name}"></option>
    </select>
    <br>
    <label for="coinName">Coin name</label>
    <input type="text" th:field="*{coinName}" id="coinName">
    <br>
    <label for="coinReleaseDate">Release date (pattern 1990-07-29)</label>
    <input type="text" th:field="*{releaseDate}" id="coinReleaseDate">
    <br>
    <label for="coinDesigner">Coin designer</label>
    <input type="text" th:field="*{designer}" name="designer" id="coinDesigner">
    <br>
    <label for="coinMintedBy">Coin minted by</label>
    <input type="text" th:field="*{mintedBy}" name="name" id="coinMintedBy">
    <br>
    <label for="coinDescription">Coin description</label>
    <input type="text" th:field="*{description}" name="name" id="coinDescription">
    <br>
    <button class="btn btn-secondary" type="submit">Save</button>
</form>
</body>
</html>