<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coins</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{header :: copy}"></div>

<h1>Country name</h1>
<div th:each="theme : ${country.themes}">
    <h3 th:text="${theme.name}">Theme name</h3>
    <div class="card"  th:each="series : ${theme.series}">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" th:data-target="${'#' + series.name}"
                        aria-expanded="true" aria-controls="collapseOne" th:aria-control="${series.name}" th:text="${series.name}">
                    Series One
                </button>
            </h5>
        </div>

        <div id="collapseOne" th:id="${series.name}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" th:each="coin : ${series.coins}">
                <a href="#" th:href="@{/collectionCoin(id=${coin.id})}" th:text="${coin.name}">Coin name 1</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>